<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110199050-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110199050-1');
  </script>
  <% include ../partials/header.ejs %>
    <style>
      .btn-secondary.active {
        background-color: darkgrey;
      }

      .btn.btn-lg.active {
        background-color: darkgrey;
      }

      .btn:focus,
      .btn:active {
        outline: none !important;
      }

      .repeatmenu li {
        cursor: pointer;
      }

      #start_time button {
        height: 100%;
      }

      #dayofweek button {
        width: 14%;
      }

      .btn-circle {
        border-radius: 50%;

      }
    </style>
</head>

<body>

  <% include ../partials/nav.ejs %>
    <div class="container">

      <form class="" action="index.html" method="post">
        <div class="form-group">
          <label for="">Medication Name</label>
          <input type="text" class="form-control" id="medication_name" placeholder="Enter name of Medication">
        </div>

        <div class="form-group">
          <label for="">Type of Reminder</label>
          <select class="form-control" id="reminderTypeSelector">
            <option disabled selected value="0">Specify the type of reminders</option>
            <option value="1">Flexible hours, specific days of the week</option>
            <option value="2">Daily, with several hours apart</option>
          </select>
        </div>

        <div id="daysToRemind" class="form-group">
          <label for="">Remind me on</label>
          <div class="btn-toolbar" role="toolbar">
            <div id="dayofweek" class="btn-group btn-group-lg" role="group">
              <button type="button" class="btn btn-secondary" data-value='S'>S</button>
              <button type="button" class="btn btn-secondary" data-value='M'>M</button>
              <button type="button" class="btn btn-secondary" data-value='T'>T</button>
              <button type="button" class="btn btn-secondary" data-value='W'>W</button>
              <button type="button" class="btn btn-secondary" data-value='Th'>Th</button>
              <button type="button" class="btn btn-secondary" data-value='F'>F</button>
              <button type="button" class="btn btn-secondary" data-value='Sa'>Sa</button>
            </div>
          </div>
        </div>
        <div id="hourlyRepetition" class="form-group">
          <label for="">Repeat Every</label>
          <select class="form-control" id="hoursToRepeat">
            <option disabled selected value="0">Select how often to repeat</option>
            <option value="1">hour</option>
            <option value="1.5">1.5 hours</option>
            <option value="2">2 hours</option>
            <option value="2.5">2.5 hours</option>
            <option value="3">3 hours</option>
            <option value="3.5">3.5 hours</option>
            <option value="4">4 hours</option>
            <option value="4.5">4.5 hours</option>
            <option value="5">5 hours</option>
            <option value="5.5">5.5 hours</option>
            <option value="6">6 hours</option>
            <option value="6.5">6.5 hours</option>
            <option value="7">7 hours</option>
            <option value="7.5">7.5 hours</option>
            <option value="8">8 hours</option>
            <option value="8.5">8.5 hours</option>
            <option value="9">9 hours</option>
            <option value="9.5">9.5 hours</option>
            <option value="10">10 hours</option>
            <option value="10.5">10.5 hours</option>
            <option value="11">11 hours</option>
            <option value="11.5">11.5 hours</option>
            <option value="12">12 hours</option>
          </select>
        </div>


        <div id="remindersTimeGroup" class="form-group">
          <label id="startRemindersLabel" for=""></label>

          <div id="start_time" class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <div class='input-group date' id='specifiedStartTime0'>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                  <input dont-allow-input="true" type='text' placeholder="Choose when to get reminded" class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <a id="addReminderTime" class="btn btn-default btn-circle">
              <span style="padding-top:2px; padding-left:4px" class="glyphicon glyphicon-plus"></span>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button id="finish_button" style="height:100%; width: 100%;" type="button" class="btn btn-lg">Finish editing reminder</button>
          </div>
        </div>
      </form>
    </div>
</body>

<script>
  $(document).ready(function() {

    var counter = 0;
    var reminders = {};

    $reminderTypeSelector = $('#reminderTypeSelector');
    $hourlyRepetitionDiv = $('#hourlyRepetition');
    $daysToRemindDiv = $('#daysToRemind');
    $specifiedStartTimeInput = $('#specifiedStartTime0');

    $remindersTimeGroup = $('#remindersTimeGroup');
    $addReminderTimeBtn = $('#addReminderTime');

    if (Cookies.get("font-size")) {
      switch (Cookies.get("font-size")) {
        case "0":
          $('.btn,h1,h2,h3,h4,p,label,span').not('#start_time span').css('font-size', '');
          break;
        case "1":
          $('.btn,h1,h2,h3,h4,p,label,span').not('#start_time span').css('font-size', '1.5em');
          break;
        case "2":
          $('.btn,h1,h2,h3,h4,p,label,span').not('#start_time span').css('font-size', '2em');
          break;
        default:
          $('.btn,h1,h2,h3,h4,p,label,span').not('#start_time span').css('font-size', '');
      }
    }



    $reminderTypeSelector.change(function() {

      if ($reminderTypeSelector.val() == "1") {
        $daysToRemindDiv.show();
        $remindersTimeGroup.show();
        $hourlyRepetitionDiv.hide();
        $addReminderTimeBtn.show();
        $('#startRemindersLabel').html("Remind me At");
        $('#specifiedStartTime0').data("DateTimePicker").destroy();
        $('#specifiedStartTime0').datetimepicker({
          format: 'LT',
        });

      } else if ($reminderTypeSelector.val() == "2") {

        for (var i = 1; i <= counter; i++) {
          if (reminders['timePickerTrashBtn' + i]) {
            // Erase the remaining reminders for other kind of medication reminder
            $('#timePickerTrashBtn' + i).parent().parent().parent().parent().remove();
          }
        }

        counter = 0;
        reminders = {};

        $hourlyRepetitionDiv.show();
        $remindersTimeGroup.show();
        $daysToRemindDiv.hide();
        $addReminderTimeBtn.hide();
        $('#startRemindersLabel').html("Start Reminder At");
        $('#specifiedStartTime0').data("DateTimePicker").destroy();
        $('#specifiedStartTime0').datetimepicker({
          minDate: new Date(),
          sideBySide: true
        });

      } else {
        $hourlyRepetitionDiv.hide();
        $remindersTimeGroup.hide();
        $daysToRemindDiv.hide();
      }
    });

    $('#addReminderTime').click(function() {
      if (!$('#specifiedStartTime' + counter).data("DateTimePicker").date()) {
        console.log('Returning');
        $('#addReminderTime').tooltip({
          placement: "bottom",
          title: "Please choose a time"
        }).tooltip('show');
        return;
      }

      counter++;

      $('#start_time').append(
        '           <div class="col-xs-12">' +
        '              <div class="form-group">' +
        '                <div class=\'input-group date\'  id=\'specifiedStartTime' + counter + '\'>' +
        '                    <span class="input-group-addon">' +
        '                        <span class="glyphicon glyphicon-calendar"></span>' +
        '                    </span>' +
        '                    <input dont-allow-input=\'true\' type=\'text\' placeholder="Choose when to get reminded" class="form-control" />' +
        '                    <span delete-reminder-time=\'true\' class="input-group-addon">' +
        '                        <a style=\'color:red;\' type="button" date-time-picker="true" id="timePickerTrashBtn' + counter + '"><span class="glyphicon glyphicon-trash"></span></a>' +
        '                    </span>' +
        '                </div>' +
        '              </div>' +
        '            </div>'
      );

      reminders['timePickerTrashBtn' + counter] = true;

      $('#specifiedStartTime' + counter).datetimepicker({
        format: 'LT'
      });

      $("[dont-allow-input='true']").keydown(function() {
        //code to not allow any changes to be made to input field
        return false;
      });
    });


    $('body').on('click', "[delete-reminder-time='true']", function(event) {
      // Remove the current trash click container
      reminders["#" + event.currentTarget.parentElement.id] = false;
      $("#" + event.currentTarget.parentElement.id).parent().parent().remove();
    });


    $('#medication_name')[0].value = "<%= medication.med_name %>";
    $specifiedStartTimeInput.val(moment(parseInt("<%= medication.remind_time %>")).format("MM/DD/YY h:mm a"));


    <%if(medication.type == "1") {%>

      $specifiedStartTimeInput.datetimepicker({
        format: 'LT'
      });
      $("[dont-allow-input='true']").keydown(function() {
        //code to not allow any changes to be made to input field
        return false;
      });

      $reminderTypeSelector.val("1");
      $hourlyRepetitionDiv.hide();

      <% for(var i=0; i < medication.days.length; i++) { %>
          $("#dayofweek").find("[data-value='<%=medication.days[i]%>']").addClass('active');
      <% } %>


      $specifiedStartTimeInput.data("DateTimePicker").date(new moment(<%=medication.remind_times[0]%>));
      // for each of the times
      <% for(var i=1; i < medication.remind_times.length; i++) { %>
          console.log("In here");
          $('#addReminderTime').trigger('click');
          $('#specifiedStartTime<%=i%>').data("DateTimePicker").date(new moment(<%=medication.remind_times[i]%>));
      <% } %>

    <%} else if(medication.type == "2"){%>

      $specifiedStartTimeInput.datetimepicker({
        sideBySide:true
      });
      $("[dont-allow-input='true']").keydown(function() {
        //code to not allow any changes to be made to input field
        return false;
      });

      $reminderTypeSelector.val("2");
      $daysToRemindDiv.hide();
      $addReminderTimeBtn.hide();
      $('#hoursToRepeat')[0].value = <%=medication.repeat%>;
      // $specifiedStartTimeInput.datetimepicker({
      //   minDate: new Date(),
      //   sideBySide: true
      // });
      $specifiedStartTimeInput.data("DateTimePicker").date(new moment(<%=medication.remind_times[0]%>));
      $specifiedStartTimeInput.data("DateTimePicker").minDate(new Date());

    <%}%>

    $('body').on('click', '.btn.btn-secondary', function() {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }
    });

    $('body').on('click', '#start_time .btn.btn-lg', function() {
      $('#start_time .btn.btn-lg').removeClass('active');
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }
    });

    // When user is finished updating the current medicine
    $('body').on('click', '#finish_button', function() {
      var days = [];
      $('#dayofweek button').each(function() {
        var day = $(this);
        if (day.hasClass('active')) {
          days.push(day.html());
        }
      });

      /** Validation Start**/
      var valid = true;

      if ($reminderTypeSelector.val() == null) {
        $('#reminderTypeSelector').tooltip({
          placement: "bottom",
          title: "Please choose a type of reminder"
        }).tooltip('show');
        setTimeout(function() {
          $('#reminderTypeSelector').tooltip('destroy');
        }, 2000);
        valid = false;
      }

      if ($('#medication_name')[0].value.length == 0) {
        $('#medication_name').tooltip({
          placement: "bottom",
          title: "Please enter a medication name"
        }).tooltip('show');
        setTimeout(function() {
          $('#medication_name').tooltip('destroy');
        }, 2000);
        valid = false;
      }

      if ($reminderTypeSelector.val() == "1") {
        if (days.length == 0) {
          $('#dayofweek').tooltip({
            placement: "bottom",
            title: "please select at least one day of the week"
          }).tooltip('show');
          setTimeout(function() {
            $('#dayofweek').tooltip('destroy');
          }, 2000);
          valid = false;
        }
      }

      if (!$('#specifiedStartTime0').data("DateTimePicker").date()) {
        $('#specifiedStartTime0').tooltip({
          placement: "bottom",
          title: "Please choose a date to be reminded"
        }).tooltip('show');
        setTimeout(function() {
          $('#specifiedStartTime0').tooltip('destroy');
        }, 2000);
        valid = false;
      }

      if ($reminderTypeSelector.val() == "2") {
        if ($('#hoursToRepeat')[0].value == "0") {
          $('#hoursToRepeat').tooltip({
            placement: "bottom",
            title: "Please select how often you wish to be reminded"
          }).tooltip('show');
          setTimeout(function() {
            $('#hoursToRepeat').tooltip('destroy');
          }, 2000);
          valid = false;
        }
      }

      if (!valid) {
        return false;
      }
      /** Validation End**/


      /** Get Times from multiple date and time pickers **/
      var reminderTimesPerDaySelected = [];
      for (var i = 0; i <= counter; i++) {
        if ($('#specifiedStartTime' + i).data("DateTimePicker") == null || $('#specifiedStartTime' + i).data("DateTimePicker") == undefined || $('#specifiedStartTime' + i).data("DateTimePicker").date() == null) {
          continue;
        }
        if (reminders['timePickerTrashBtn' + i] == false) {
          continue;
        }
        reminderTimesPerDaySelected.push($('#specifiedStartTime' + i).data("DateTimePicker").date().unix() * 1000);
      }
      /** Finished Collecting Times**/


      var payload = {
        type: $reminderTypeSelector.val(),
        med_name: $('#medication_name')[0].value,
        days: JSON.stringify(days),
        repeat: $('#hoursToRepeat')[0].value,
        times: JSON.stringify(reminderTimesPerDaySelected)
      }
      $.ajax({
        type: 'POST',
        url: '/edit/<%=medication.mid%>',
        dataType: 'application/json',
        data: payload,
        complete: function() {
          console.log("done")
          location.href = '/';
        }
      })
    });

    $('body').on('click', '.repeatmenu > li', function() {
      $('.repeatmenu > li').removeClass('active');
      $(this).addClass('active');
      $('#reminder_button').html($(this).find('a').html() + ' <span class="caret"></span>');
    });

  });
</script>

</html>
