<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

    <style media="screen">
      .centered-modal.in {
        display: flex !important;
      }

      .centered-modal .modal-dialog {
        margin: auto;
      }

      .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
      }
    </style>
</head>

<body>

  <!-- Navigation bar -->
  <% include ../partials/nav.ejs %>

    <!-- Start of Medication List -->
    <div class="container" id="medicationList">
      <% for(var i=0; i < data.length; i++) { %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">

              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-8">
                    <h4><%=data[i].med_name%></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <% if (data[i].type == "1") { %>
                      <p>Days to remind: <%=data[i].days%></p>
                      <p id="dateAndTimeSet<%=i%>"></p>
                    <% } else {%>
                      <p>Every <%=data[i].repeat%> hour(s)</p>
                      <p id="dateAndTimeStarted<%=i%>"></p>
                    <% } %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 ">
                  <button onclick="recoverReminder(<%=data[i].mid%>)" class="btn btn-lg pull-right" type="button" name="button">Recover Reminder</button>
                </div>
              </div>

            </div>

          </div>
        </div>
        <% } %>
    </div>
    <!-- End of Container for Medication List -->



</body>

<script src="scripts/main.js"></script>
<script>
  $(document).ready(function() {
    if (Cookies.get("font-size")) {
      switch(Cookies.get("font-size")) {
          case "0":
              $('.btn,h1,h2,h3,h4,p,label,span').css('font-size', '');
              break;
          case "1":
              $('.btn,h1,h2,h3,h4,p,label,span').css('font-size', '1.5em');
              break;
          case "2":
              $('.btn,h1,h2,h3,h4,p,label,span').css('font-size', '2em');
              break;
          default:
              $('.btn,h1,h2,h3,h4,p,label,span').css('font-size', '');
      }
    }

    <% for(var i=0; i < data.length; i++) { %>

      <%if(data[i].type == "1") {%>
        var timeString = "";
        <% for (var j = 0; j < data[i].remind_times.length; j++) { %>
          <% if (j == 0) { %>
        timeString += moment(parseInt("<%= data[i].remind_times[j] %>")).format("h:mm a");
          <% } else { %>
        timeString += ", " + moment(parseInt("<%= data[i].remind_times[j] %>")).format("h:mm a");
          <% } %>
        <% } %>
        $("#dateAndTimeSet<%=i%>").html('Reminders set for: ' + timeString);
      <% } else { %>
        var time = moment(parseInt("<%= data[i].remind_times[0] %>")).format("MM/DD/YY h:mm a");
        $("#dateAndTimeStarted<%=i%>").html('Started reminders on: ' + time);
      <% } %>

    <% } %>

  });

  function recoverReminder(mid) {
    $.ajax({
      type: 'POST',
      url: '/recover/'+mid,
      complete: function () {
        location.reload();
      }
    })
  }


</script>

</html>
