<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110168499-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110168499-1');
  </script>
  <% include ../partials/header.ejs %>

    <style media="screen">
      .centered-modal.in {
        display: flex !important;
      }

      .centered-modal .modal-dialog {
        margin: auto;
      }

      .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
      }

    </style>

</head>

<body>

  <div id="overlay"></div>
  <div id="html-spinner"></div>

  <!-- Navigation bar -->
  <% include ../partials/nav.ejs %>

  <!-- Start of Medication List -->
  <div class="container" id="medicationList">
    <div id="noMedRemindersDeletedMessage" class="row">
      <div style="text-align:center; color:white;"class="col-xs-12">
        <h3>No medication reminders to recover</h3>
      </div>
    </div>
    <% for(var i=0; i < data.length; i++) { %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">

            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <h4 class="wraptext"><%=data[i].med_name%></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <% if (data[i].type == "1") { %>
                    <div class="row">
                      <div class="col-xs-12">
                        <a data-toggle="collapse" data-parent="accordion" href="#schedule<%=i%>">
                          <script>
                            document.write("Next dose at " + moment(parseInt(<%=data[i].next_dose%>)).format("dddd, h:mm A"))
                          </script>
                        </a>
                      </div>
                      <div class="col-xs-12">
                        <div id="schedule<%=i%>" class="panel-collapse collapse to-collapse">
                          <div class="panel-body">
                            <div class="col-xs-12">
                              <p><strong>Schedule</strong></p>
                            </div>
                            <div class="col-xs-5">
                              <p id="daysInWeek<%=i%>"></p>
                            </div>
                            <div class="col-xs-7">
                              <p id="dateAndTimeSet<%=i%>"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% } else {%>
                    <div class="row">
                      <div class="col-xs-12">
                        <a data-toggle="collapse" data-parent="accordion" href="#schedule<%=i%>">
                          <script>
                            document.write("Next dose at " + moment(parseInt(<%=data[i].next_dose%>)).format("dddd, h:mm A"))
                          </script>
                        </a>
                      </div>
                      <div class="col-xs-12">
                        <div id="schedule<%=i%>" class="panel-collapse collapse to-collapse">
                          <div class="panel-body">
                            <div class="col-xs-12">
                              <p><strong>Information</strong></p>
                            </div>


                            <%if (data[i].repeat > 1) {%>
                              <div class="col-xs-12">
                                <p id="dateAndTimeStarted<%=i%>">
                                  Every<%=data[i].repeat%> hours
                                </p>
                              </div>
                            <%} else{%>
                              <div class="col-xs-12">
                                <p id="dateAndTimeStarted<%=i%>">
                                  Every hour
                                </p>
                              </div>
                            <%}%>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-xs-12 ">
                <button onclick="recoverReminder(<%=data[i].mid%>)" class="btn btn-lg pull-right" type="button" name="button">Recover Reminder</button>
              </div>
            </div>
        </div>
      </div>
      <% } %>
  </div>
  <!-- End of Container for Medication List -->



</body>

<script src="scripts/main.js"></script>
<script>
  $(document).ready(function() {
    $("#noMedRemindersDeletedMessage").toggle();
    $("#html-spinner").hide();
    $("#overlay").hide();

    var numberOfDeleted = "<%=data.length%>";
    if(numberOfDeleted < 1){
      $("#noMedRemindersDeletedMessage").toggle();
    }


    <% for(var i=0; i < data.length; i++) { %>

    <%if(data[i].type == "1") {%>
    var timeString = "";
    var times = "<%=data[i].remind_times%>";

    var sortedTimes = times.split(",").sort(function(x, y){
        return x - y;
    });
    for (var j = 0; j < sortedTimes.length; j++) {
      if (j == 0) {
        timeString += moment(parseInt(sortedTimes[j])).format("h:mm a");
      } else {
        timeString += "<br>" + moment(parseInt(sortedTimes[j])).format("h:mm a");
      }
    }
    $("#dateAndTimeSet<%=i%>").html(timeString);
    var daysString = "";
    <% for(var j=0; j < data[i].days.length; j++) { %>
    var day = "<%=data[i].days[j]%>";
    switch (day) {
      case 'S':
        daysString += "Sun, ";
        break;
      case 'M':
        daysString += "Mon, ";
        break;
      case 'T':
        daysString += "Tues, ";
        break;
      case 'W':
        daysString += "Wed, ";
        break;
      case 'Th':
        daysString += "Thurs, ";
        break;
      case 'F':
        daysString += "Fri, ";
        break;
      case 'Sa':
        daysString += "Sat, ";
        break;
    }
    <%}%>
    $('#daysInWeek<%=i%>').html(daysString.substr(0, daysString.length - 2));

    <% } else { %>
      var time = moment(parseInt("<%= data[i].remind_times[0] %>")).format("MM/DD/YY h:mm a");
      $("#dateAndTimeStarted<%=i%>").append('<br>Started reminder on ' + time);
    <% } %>

    <% } %>



  });

  function recoverReminder(mid) {
    $.ajax({
      type: 'POST',
      url: '/recover/'+mid,
      complete: function () {
        location.reload();
      }
    })
  }


</script>

</html>
